section{
    background-color: rgb(108, 108, 108);
    display: flex;
    height: 100vh;
}
section{
    text-align: center;
}
form{
    border-radius: 20px;
    text-align: center;
    width: 50%;
    background-color: rgba(159, 149, 149, 0.837);
    margin: 80px auto 0px;
    padding: 40px;
    height: 60vh;
}
form  label{
    display: block;
    font-weight: bold;
}
form input{
    width: 80%;
    padding: 4px;
    margin: 10px;
}
form select{
    width: 81%;
    padding: 5px;
}

